.loading {
    display: flex;
}

.square {
    height: 100px;
    width: 100px;
    background: whitesmoke;
    animation: rotate 1s linear infinite both;
}

@keyframes rotate {
    from {
        transform: perspective(500px) rotateY(0deg);
    }
    to {
        transform: perspective(500px) rotateZ(360deg);
    } 
    
}    