body {
    margin: 0;
}

:root {
    --primary: rgb(199, 76, 28);
    --secondary-gray: #979a9b;
    --secondary-black: #2e2d2d;
    --font-family: 'Noto Sans TC', sans-serif;
    --font-size-title: 72px;
}

/* 大尺寸 */

/* header */

.header {
    background: black;
    width: 100%;
    height: auto;
    margin: 0;
}

.col-4 {
    padding: 0;
}

.header--img {
    width: 100%;
    
}

.header--container {
    width: 100%;
    
}

.header--buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
}

li {
    font-size: 36px;
    line-height: 90px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: whitesmoke;
    font-weight: bold;
}

.col-8 {
    padding: 0;
}

.header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--logo img {
    width: 50%;
    height: 50%;
}

/* style */

.style {
    background: wheat;
    width: 100%;
    height: 200%;
    padding: 20px;
}

.row style {
    margin: 0;
}

.style--title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.style--title h1 {
    text-decoration: none;
    color: var(--secondary-black);
    font-family: var(--font-family);
}

.style--buttom {
    height: 100%;
    width: 100%;
    margin-top: 150px;
}

/* .style--buttom a {
    text-decoration: none;
    color: var(--secondary-black);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.col-6 style {
    display: block;
    margin: 0;
    height: auto;
}

.style--img h5 {
    color: var(--secondary-black);
}

.carousel-inner {
    width: 100%;
    height: 75vh;
}

.style--buttom a {
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-family);
    display:block;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 60px;
    margin-left: 150px;
    background: var(--secondary-black);
    color: var(--secondary-gray);
    text-align: center;
    padding: 10px;
    border-radius: 9999px;
}

#W:hover {
    background: rgb(241, 240, 247);
    color: #000;

}

#Y:hover {
    background: rgb(245, 231, 104);
    color: #000;
}

#R:hover {
    background: rgb(209, 40, 28);
    color: #000;
}

#Yimg.open {
    display: block;
}

#Yimg {
    display: none;
} */

#Rimg.open {
    display: block;
}

#Rimg {
    display: none;
}

/* notice */

.notice {
    padding: 20px;
}

.notice h1 {
    text-decoration: none;
    color: var(--secondary-black);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice p {
    color: w;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* branch */

.branch {
    margin: 20px;
}

.branch--map {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 0 20px 0;
}

#map {
    height: 50vh;
    width: 100%;
}

.branch h1 {
    text-decoration: none;
    color: var(--secondary-black);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

.branch--item--container {
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
    justify-content: center;

}

.branch--item img {
    height: 250px;
    width: auto;
}

.branch h5 {
    display: flex;
    justify-content: center;
    color: var(--secondary-black);
    font-family: var(--font-family);
}

/* footer */

.footer {
    background: var(--secondary-black);
    margin-top: 60px;
    padding: 20px;
    font-family: 'Noto Sans ';
}

.footer--logo {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer--calling h5 {
    border-width: 250px;
    margin: 0;
    padding: 10px;
}

.footer--calling h6 {
    margin: 0;
    padding: 10px;
}

.footer--top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 250px;
}

/* 小尺寸 */

@media (max-width:600px) {
    .header {
        height: 250px;
    }
    
    .header--buttom {
        margin: 0;
        padding: 15px;
    }
    
    li {
        font-size: 18px;
        line-height: 45px;
    }
    
    .header--logo img {
        width: 25%;
        height: 25%;
    }

    .style {
        background: wheat;
        width: 100%;
        height: 300px;
        padding: 20px;
    }

    .style--buttom {
        height: 50%;
        width: 80%;
        margin-top: 20px;
    }

    .style--buttom a {
        text-decoration: none;
        font-size: 8px;
        display:block;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-left: 45px;
        background: var(--secondary-black);
        color: var(--secondary-gray);
        text-align: center;
        padding: 5px;
        border-radius: 9999px;
    }

    .footer {
        background: var(--secondary-black);
        margin: 0;
        padding: 20px;
        font-family: 'Noto Sans ';
        margin-top: 80px;
    }

    .footer--logo {
        flex: 0 0 auto;
        justify-content: center;
        padding-left: 40px;
        width: 70%;
        height: 70%;
    }

    .footer--calling h5 {
        border-width: 250px;
        margin: 0;
        padding: 5px;
        padding-left: 40px;
        font-size: 16px;
    }
    
    .footer--calling h6 {
        margin: 0;
        padding: 5px;
        padding-left: 40px;
        font-size: 10px;
    }
}